/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');




/* BASICS */
body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish';
    margin: 1.5rem 6rem;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh;
    margin-top: 3rem;
}





/* BUTTONS */
input[type="button"] {
    border: none;
}

.btn {
    background-color: dodgerblue;
    color: white;
    border-radius: 1.2rem;
    transition: .4s;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(0, 109, 218);
    transition: .4s;
    border: none;
}







/* Dashboard User */
.qcm-actions h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0 0 1rem 0;
}

.qcm-actions__presentation {
    margin: auto;
    text-align: center;
    max-width: 50vw;
    font-size: 1rem;
    color: #7D7987;
    margin-bottom: 3rem;
}

.qcm-actions ul {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
}

.qcm-actions li {
    flex: 3;
}

.qcm-actions li:last-child {
    flex: 2;
}

.qcm-actions__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
    gap: 1rem;
}

.qcm-actions__title img {
    max-width: 5rem;
}

.qcm-actions li p {
    margin: 0;
    opacity: .8;
}

.qcm-actions li a {
    text-decoration: none;
}

.btn--actions {
    padding: .4rem .9rem;
    font-size: .8rem;
    font-weight: bold;
    margin: auto;
    margin-top: 3rem;
}

.btn--delete {
    padding: .4rem 1rem;
    font-size: .7rem;
    font-weight: bold;
}

.btn--question {
    padding: .5rem 1.1rem;
    font-size: .9rem;
    font-weight: bold;
}





/* SELECT EXAM PAGE */
.exams__all-exams {
    table-layout: auto;
    width: 50%;
    margin: auto;
    border-collapse:separate; 
    border-spacing: .7rem;
}

.exams h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0 0 1rem 0;
}

.exams__presentation {
    margin: auto;
    text-align: center;
    max-width: 50vw;
    font-size: 1rem;
    color: #7D7987;
    margin-bottom: 3rem;
}

.exams__box-all-exams {
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    list-style-type: none;
    padding: 2rem 3rem;
    border: 1px solid rgba(168, 168, 168, 0.2);
    border-radius: 2rem;
    box-shadow: 0 2.5rem 5rem rgba(12, 117, 253, 0.2);
}


.exams__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2.5rem;
}

.exams__title h2 {
    margin: 0;
}

.exams__title p {
    margin: 0;
    opacity: .8;
}

.exams__all-exams thead {
    font-size: 1.2rem;
}

.exams__all-exams thead th {
    text-align: left;
}

.exams__all-exams thead tr th:nth-child(1) {
    width: 15%;
}

.exams__all-exams thead tr th:nth-child(2) {
    width: 45%;
}

.exams__all-exams thead tr th:nth-child(3) {
    width: 15%;
}

.exams__all-exams thead tr th:nth-child(4) {
    width: 35%;
}

.exams__all-exams tbody tr td:last-child {
    text-align: right;
}

.exams__all-exams tbody::before {
    content: "-";
    display: block;
    line-height: .3rem;
    color: transparent;
}

.exams__question-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#countdowntimer {
    text-align: right;
}

.exams__question-all-answers {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.exams__question-buttons {
    display: flex;
    justify-content: center;
    gap: 4%;
}

.exams__question-answer {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.exams__question {
    font-size: 1.2rem;
    color: black;
    opacity: 1;
    font-weight: bold;
}

.exams__question-no {
    font-weight: normal;
}

.results__no-results {
    width: fit-content;
    margin: auto;
    margin-bottom: 2rem;
}

.results__all-results {
    table-layout: auto;
    width: 50%;
    margin: auto;
    border-collapse:separate; 
    border-spacing: .7rem;
}

.results__all-results thead {
    font-size: 1.2rem;
}

.results__all-results thead th {
    text-align: left;
}

.results__all-results thead tr th:nth-child(1) {
    width: 15%;
}

.results__all-results thead tr th:nth-child(2) {
    width: 45%;
}

.results__all-results thead tr th:nth-child(3) {
    width: 10%;
}

.results__all-results thead tr th:nth-child(4) {
    width: 30%;
    text-align: right;
}

.results__all-results tbody tr td:nth-child(4) {
    text-align: right;
}

.results__all-results tbody::before {
    content: "-";
    display: block;
    line-height: .3rem;
    color: transparent;
}






/* LANDING PAGE */
.qcm__presentation .title img{
    max-width: 5rem;
  }
  
.computer {
    max-width: 27vw;
    min-width: 40vw;
    margin-left: 5rem;
    margin-top: 0;
    min-height: 0;
}
  
.image_position {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}
  
.qcm__presentation {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.qcm__presentation p {
    text-align: center;
    opacity: .8;
    max-width: 70%;
    margin: auto;
}

.title {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    margin-left: 5rem;
}

.title h1 {
    font-size: 3rem;
}




.qcm-action-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    list-style-type: none;
    padding: 2rem 3rem;
    border: 1px solid rgba(168, 168, 168, 0.2);
    border-radius: 2rem;
    box-shadow: 0 2.5rem 5rem rgba(12, 117, 253, 0.2);
    margin-top: 5rem;
}

.main-page {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: space-between;
    gap: 15vw;
}  
