/* STYLESHEET FOR REGISTRATION FORM */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish';
    font-weight: normal;
    height: 100vh;
    display: flex;
    background-color: #D3D3D3;
}


h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2.5rem;
}

section {
    margin: auto;
    min-width: 25rem;
    background-color: white;
    padding: 1.875rem 5rem 1.25rem;
    box-shadow: 0 0.5em 1em rgb(10, 10, 10, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

.box-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.875rem;
}

form input {
    height: 2.5rem;
    font-size: .85rem;
    border-radius: .6rem;
    border: solid grey 1px;
}

form label {
    margin-bottom: .4rem;
    font-weight: bold;
}

.btn-submit {
    margin: auto;
    margin-top: 1.25rem;
    padding: .625rem 1.875rem;
    text-align: center;
    font-size: .9rem;
    color: white;
    border: none;
    border-radius: .5rem;
    background-color:dodgerblue;
}

.already-registered {
    color: #303030;
    font-size: .68rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.9rem;
}